<h2 id="title">Welcome to Ember</h2>

	<nav>
		{{#link-to 'index'}}Home{{/link-to}}
		{{#link-to 'about'}}About{{/link-to}}

	{{#each subreddits}}
      	{{#link-to "subreddit" this}}{{this}}{{/link-to}}
	{{/each}}

	</nav>

{{outlet}}
